$theme-color: #78767a;
$indicator-color-1: #1ee;
$indicator-color-2: #f00;
$card-note-color-1: #333;
$card-note-color-2: #fff;


html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: #f9fbfd;
    color: #333;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

[v-cloak] {
    display: none !important;
}

.total-container {
    position: relative;
    height: 100%;
}

// painting
.painting-container {
    display: flex;
    height: 100%;
    overflow: auto;

    &.-centered {
        justify-content: center;
        align-items: center;
    }

    &.-grab {
        cursor: grab;
    }
}

.drop-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
    border: 3px dashed #ccc;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 125px;
    max-width: 400px;
    max-height: 250px;

    &.-active {
        border-color: #f56161;
    }
}

.box-note {
    color: #777;
    font-size: 14px;
    font-style: normal;
    cursor: default;
}

.canvas-container {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-element-container {
    position: relative;
}

.canvas-element {
    display: block;

    .painting-container:not(.-grab) & {
        cursor: url(icons/picker.png) 8 23, auto;
    }
}

.picker-target-mark {

    $mark-length-1: 10px;
    $mark-length-2: 1px;
    $mark-offset-1: 3px;
    $mark-offset-2: 5px;

    position: absolute;
    margin: $mark-offset-2 0 0 0;
    left: 0;
    top: 0;
    pointer-events: none;

    &::before {
        position: absolute;
        width: $mark-length-1;
        height: $mark-length-2;
        box-shadow:
            (-$mark-length-1 - $mark-offset-1) (-1px - $mark-offset-2) #000,
            (-$mark-length-1 - $mark-offset-1) (0 - $mark-offset-2) #fff,
            (-$mark-length-1 - $mark-offset-1) (1px - $mark-offset-2) #000,
            $mark-offset-1 (-1px - $mark-offset-2) #000,
            $mark-offset-1 (0 - $mark-offset-2) #fff,
            $mark-offset-1 (1px - $mark-offset-2) #000;
        content: "";
        left: 0;
        top: 0;
    }

    &::after {
        position: absolute;
        width: $mark-length-2;
        height: $mark-length-1;
        box-shadow:
            (-1px + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #000,
            (0 + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #fff,
            (1px + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #000,
            (-1px + $mark-offset-2) $mark-offset-1 #000,
            (0 + $mark-offset-2) $mark-offset-1 #fff,
            (1px + $mark-offset-2) $mark-offset-1 #000;
        content: "";
        left: -$mark-offset-2;
        top: $mark-length-2 - $mark-offset-2;
    }
}

.luma-adjust-layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    mix-blend-mode: saturation;
}


// panel
$scroll-bar-width: 17px;
$panel-radius: 4px;
$magnifier-panel-offset-x: 10px;
$magnifier-panel-offset-y: 10px;
$switch-panel-left: 10px;
$switch-panel-bottom: 10px;

.panel-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
}

.switch-panel {
    position: absolute;
    display: flex;
    left: $switch-panel-left;
    bottom: $switch-panel-bottom;
    pointer-events: auto;

    &.-scrollOffset {
        bottom: $switch-panel-bottom + $scroll-bar-width;
    }
}

.switcher {
    background: #fff;
    border: 2px solid #666;
    border-radius: $panel-radius;
    opacity: .6;
    cursor: pointer;

    &:hover {
        opacity: .8;
    }

    &.-luma::before {
        display: block;
        width: 32px;
        height: 32px;
        background: url(./icons/luma.svg) 0 / contain no-repeat;
        content: "";
    }

    &.-active {
        opacity: 1;
    }
}

.magnifier-panel {
    position: absolute;
    padding: 5px;
    background: rgba(#333, .8);
    border-radius: $panel-radius;
    left: $magnifier-panel-offset-x;
    top: $magnifier-panel-offset-y;
    pointer-events: auto;

    &.-right-bottom {
        left: auto;
        top: auto;
        right: $magnifier-panel-offset-x;
        bottom: $magnifier-panel-offset-y;
    }

    .view-area {
        position: relative;
        width: 100px;
        height: 100px;
        border: 1px solid #acacac;
        background: #fff;
    }

    .picker-indicator {
        position: absolute;
        width: 4px;
        height: 4px;
        box-sizing: border-box;
        border: 1px solid $indicator-color-1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.-theme-b {
            border-color: $indicator-color-2;
        }
    }

    .color-display {
        display: flex;
        align-items: center;
        padding: 5px 0 0 0;
    }

    .color-box {
        width: 22px;
        height: 22px;
        padding: 1px;
        border: 1px solid #acacac;
        background-clip: content-box;
        margin-right: 10px;
    }

    .color-text {
        flex: 1;
        color: #fff;
        font-size: 14px;
    }
}

$card-width: 100px;
$card-height: 30px;
$advisor-padding: 15px;
$advisor-width: $advisor-padding * 2+$card-width;

.advisor-panel {
    position: absolute;
    width: $advisor-width;
    padding: $advisor-padding;
    box-sizing: border-box;
    border: 1px dashed $theme-color;
    border-radius: 6px;
    background: rgba(#000, .1);
    right: 10px;
    top: 10px;
    bottom: 10px;
    pointer-events: auto;

    .color-card {
        position: relative;
        width: $card-width;
        height: $card-height;
        padding: 1px;
        border: 1px solid #666;
        border-radius: 3px;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
    }

    .card-main {
        display: block;
        width: 100%;
        height: 100%;
    }

    .card-note {
        position: absolute;
        display: flex;
        padding: 0 10px;
        justify-content: flex-end;
        align-items: center;
        color: $card-note-color-1;
        font-style: normal;
        font-size: 12px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .card-note.-theme-b {
        color: $card-note-color-2;
    }
}

.advisor-target {
    margin: 0 -1*$advisor-padding;
    padding: 0 $advisor-padding $advisor-padding;
    border-bottom: 1px dashed $theme-color;

    .target-title {
        margin-bottom: 10px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }

    .target-content {
        display: flex;
        justify-content: center;
    }
}

.advisor-output {
    margin: 0 -1*$advisor-padding;
    padding: $advisor-padding;

    .output-title {
        margin-bottom: 10px;
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }

    .color-card {
        margin-bottom: 10px;
    }

    .card-note {
        opacity: 0;
        transform: translatex(10px);
        transition: opacity .5s ease, transform .5s ease;
    }

    .color-card:hover>.card-note {
        opacity: 1;
        transform: translateX(0);
    }
}

/* -------------------------------------------------- *\

    # support

\* -------------------------------------------------- */

.toast-top {
    position: fixed;
    width: 100px;
    margin: 0 0 0 -50px;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgba(#000, .6);
    color: #fff;
    font-size: 16px;
    text-align: center;
    left: 50%;
    top: 10px;
}


/* -------------------------------------------------- *\

    # keyframes

\* -------------------------------------------------- */


// ref from: https://github.com/miniMAC/magic
.spaceInUp {
    -webkit-animation-name: spaceInUp;
    animation-name: spaceInUp;
}

@-webkit-keyframes spaceInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(0.2) translate(0%, -200%);
        transform: scale(0.2) translate(0%, -200%);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%);
    }
}

@keyframes spaceInUp {
    0% {
        opacity: 0;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(0.2) translate(0%, -200%);
        transform: scale(0.2) translate(0%, -200%);
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%);
    }
}

.spaceOutDown {
    -webkit-animation-name: spaceOutDown;
    animation-name: spaceOutDown;
}

@-webkit-keyframes spaceOutDown {
    0% {
        opacity: 1;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%);
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0.2) translate(0%, 200%);
        transform: scale(0.2) translate(0%, 200%);
    }
}

@keyframes spaceOutDown {
    0% {
        opacity: 1;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(1) translate(0%, 0%);
        transform: scale(1) translate(0%, 0%);
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transform: scale(0.2) translate(0%, 200%);
        transform: scale(0.2) translate(0%, 200%);
    }
}