
html, body {
    height: 100%;
}

body {
    margin: 0;
    background: #f9fbfd;
    color: #333;
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

[v-cloak] {
    display: none !important;
}

.total-container {
    position: relative;
    height: 100%; 
}

// painting
.painting-container {
    display: flex;
    height: 100%;
    overflow: auto;

    &.-centered {
        justify-content: center;
        align-items: center;
    }
    &.-grab {
        cursor: grab;
    }
}
.drop-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30%;
    border: 3px dashed #ccc;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 125px;
    max-width: 400px;
    max-height: 250px;

    &.-active {
        border-color: #f56161;
    }
}
.box-note {
    color: #777;
    font-size: 14px;
    font-style: normal;
    cursor: default;
}
.canvas-container {
    position: relative;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-element {
    display: block;

    .painting-container:not(.-grab) & {
        cursor: url(icons/picker.png) 8 23, auto;
    }
}
.picker-target-mark {
    position: absolute;
    left: 0;
    top: 0;

    $mark-length-1: 10px;
    $mark-length-2: 1px;
    $mark-offset-1: 3px;
    $mark-offset-2: 5px;

    &::before {
        position: absolute;
        width: $mark-length-1;
        height: $mark-length-2;
        box-shadow: 
        (-$mark-length-1 - $mark-offset-1) (-1px - $mark-offset-2) #000, 
        (-$mark-length-1 - $mark-offset-1) (0 - $mark-offset-2) #fff, 
        (-$mark-length-1 - $mark-offset-1) (1px - $mark-offset-2) #000,
        $mark-offset-1 (-1px - $mark-offset-2) #000, 
        $mark-offset-1 (0 - $mark-offset-2) #fff, 
        $mark-offset-1 (1px - $mark-offset-2) #000;
        content: "";
        left: 0;
        top: 0;
    }
    &::after {
        position: absolute;
        width: $mark-length-2;
        height: $mark-length-1;
        box-shadow: 
        (-1px + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #000, 
        (0 + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #fff, 
        (1px + $mark-offset-2) (-$mark-offset-1 - $mark-length-1) #000,
        (-1px + $mark-offset-2) $mark-offset-1 #000, 
        (0 + $mark-offset-2) $mark-offset-1 #fff, 
        (1px + $mark-offset-2) $mark-offset-1 #000;
        content: "";
        left: -$mark-offset-2;
        top: $mark-length-2 - $mark-offset-2;
    }
}
.luma-adjust-layer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    mix-blend-mode: saturation;
}


// panel
$scroll-bar-width: 17px;
$panel-radius: 4px;
$magnifier-panel-offset-x: 10px;
$magnifier-panel-offset-y: 10px;
$switch-panel-left: 10px;
$switch-panel-bottom: 10px;
.panel-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
}
.switch-panel {
    position: absolute;
    display: flex;
    left: $switch-panel-left;
    bottom: $switch-panel-bottom;
    pointer-events: auto;

    &.-scrollOffset {
        bottom: $switch-panel-bottom + $scroll-bar-width;
    }
}
.switcher {
    background: #fff;
    border: 2px solid #666;
    border-radius: $panel-radius;
    opacity: .6;
    cursor: pointer;
    
    &:hover {
        opacity: .8;
    }
    &.-luma::before {
        display: block;
        width: 32px;
        height: 32px;
        background: url(./icons/luma.svg) 0 no-repeat / contain;
        content: "";
    }
    &.-active {
        opacity: 1;
    }
}
.magnifier-panel {
    position: absolute;
    padding: 5px;
    background: rgba(#333, .8);
    border-radius: $panel-radius;
    left: $magnifier-panel-offset-x;
    top: $magnifier-panel-offset-y;
    pointer-events: auto;

    &.-right-bottom {
        left: auto;
        top: auto;
        right: $magnifier-panel-offset-x;
        bottom: $magnifier-panel-offset-y;
    }

    .view-area {
        position: relative;
        width: 100px;
        height: 100px;
        border: 1px solid #acacac;
        background: #fff;
    }

    $indicator-color-1: #1ee;
    $indicator-color-2: #f00;

    .picker-indicator {
        position: absolute;
        width: 4px;
        height: 4px;
        box-sizing: border-box;
        border: 1px solid $indicator-color-1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.-theme-b {
            border-color: $indicator-color-2;
        }
    }
    .color-display {
        display: flex;
        align-items: center;
        padding: 5px 0 0 0;
    }
    .color-box {
        width: 22px;
        height: 22px;
        padding: 1px;
        border: 1px solid #acacac;
        background-clip: content-box;
        margin-right: 10px;
    }
    .color-text {
        flex: 1;
        color: #fff;
        font-size: 14px;
    }
}